<div class="dashboard-row row">
  <div class="block--dashboard x-1 col-4 y-1 row-2">
    <header class="block--dashboard-header clearfix accent--cosmopolitan">
      <div class="block--dashboard-header-icon">C</div>
      <div class="block--dashboard-header-title">Cosmopolitan</div>
    </header>
  </div>
  <div class="block--dashboard x-1 col-4 y-3 row-2"></div>

  <div class="block--dashboard x-5 col-4 y-1 row-1"></div>
  <div class="block--dashboard x-5 col-4 y-2 row-2"></div>
  <div class="block--dashboard x-5 col-4 y-4 row-1"></div>

  <div class="block--dashboard x-9 col-4 y-1 row-4">
    <header class="block--dashboard-header clearfix accent--designer-news">
      <div class="block--dashboard-header-icon">DN</div>
      <div class="block--dashboard-header-title">Designer News</div>
    </header>
  </div>
</div>

{{outlet}}
