.header--site {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
  .header--site-logo {
    margin: 0 10px;
  }
  .header--site-link {
    line-height: 40px;
  }
