<header class="header--site">
  <div class="header--site-left pull-left">
    {{!-- {{#link-to 'index' class="header--site-link pull-left"}}<i class="header--site-logo oi" data-glyph="grid-three-up"></i>{{/link-to}} --}}
    <div class="header--site-spaces pull-left">
      {{view "spaces"}}
    </div>
  </div>

  <div class="header--site-right pull-right">
    <a class="header--site-link" href="#">Settings</a>

    <a class="header--site-link" {{action 'openModal' 'modal' model}}><i class="oi" data-glyph="plus"></i> Add</a>
    <a class="header--site-link" href="#"><strong>Karel Vuong</strong></a>
  </div>
</header>
