<header class="header--site">
  {{#link-to 'index'}}<i class="header--site-logo oi" data-glyph="grid-three-up"></i>{{/link-to}}
  <a class="header--site-link" href="#">Settings</a>
  <a class="header--site-link" href="#">Add</a>
  <a class="header--site-link" href="#">Karel Vuong</a>
</header>
