<header class="header--site">
  <div class="header--site-left pull-left">
    {{#link-to 'index' class="header--site-link"}}<i class="header--site-logo oi" data-glyph="grid-three-up"></i>{{/link-to}}
  </div>

  <div class="header--site-right pull-right">
    <a class="header--site-link" href="#">Settings</a>
    <a class="header--site-link" href="#"><i class="oi" data-glyph="plus"></i></a>
    <a class="header--site-link" href="#"><strong>Karel Vuong</strong></a>
  </div>
</header>
